html,
body,
#container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

html,
body,
#leaflet-map {
  width: auto;
  height: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/*body {
  padding-top: 50px;
}*/

.progress-bar-full {
  width: 100%;
}

#loading {
  position: absolute;
  width: 220px;
  height: 19px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -110px;
  z-index: 20001;
}

#feature-info-wrapper {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 10;
  background: white;
  padding: 10px;
  width: 220px;
  height: 150px
}

.marker-cluster-small {
  background-color: rgba(140, 177, 210, 0.4);
}

.marker-cluster-small div {
  background-color: rgba(140, 177, 210, 0.85);
}

.marker-cluster-small:hover {
  background-color: rgba(140, 177, 210, 0.7);
}

.marker-cluster-small:hover > div {
  background-color: rgba(140, 177, 210, 0);
}

.marker-cluster-medium {
  background-color: rgba(97, 147, 179, 0.4);
}

.marker-cluster-medium div {
  background-color: rgba(97, 147, 179, 0.85);
}

.marker-cluster-medium:hover {
  background-color: rgba(97, 147, 179, 0.7);
}

.marker-cluster-medium:hover > div {
  background-color: rgba(97, 147, 179, 0);
}

.marker-cluster-large {
  background-color: rgba(59, 110, 128, 0.4);
}

.marker-cluster-large div {
  background-color: rgba(59, 110, 128, 0.85);
}

.marker-cluster-large:hover {
  background-color: rgba(59, 110, 128, 0.7);
}

.marker-cluster-large:hover > div {
  background-color: rgba(59, 110, 128, 0);
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}

.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 15px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.marker-cluster span {
  line-height: 30px;
}
